body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}

.App {
  display: flex;
  flex-wrap: wrap;
}

.map {
  width: 60%;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* Location List personalization */

.filter {
  width: 40%;
}

input {
  width: 90%;
}

ul.locations-list  {
  padding : 0;
  min-width: 150px;
}

li.location {
  list-style-type: none;
}

/* For Device under 500px */

@media screen and ( max-width: 500px) {
  .filter,
  .map {
     width: 100%;
  }
}
